<!DOCTYPE html>
<html>
  <head>
    <title>Wellcome to JSON</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Test Page</h1>
    <ul>
      <% for(var i=0; i<arrays.length; i++) { %> 
        <li><%= arrays[i].todo_color %></li>
        <li><%= arrays[i].todo %></li>
        <li><%= arrays[i].todo_create_date %></li>
      <% } %>
    </ul>
  </body>
</html>
