<!DOCTYPE html>
<html>
  <head>
    <title>Wellcome to JSON</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>HOHO</p>
    <p><% for(var i=0; i< rows.length; i++){ %></p>
      <p><%= rows[i].todo %></p>
      <p><% } %></p>
    <!-- <p><% rows.forEach(function(row) { %></p>
      <p><%= row.todo %></p>
      <p><%= row.todo_color %></p>
      <p><% }); %></p> -->
  </body>
</html>
