<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>timmer</title>
    <script src="/javascript/stopwatch.js"></script>
</head>
<body>
    <div id="time">00:00:00</div>
    <button id="startPause" onclick="startPause()"><b id="start">시작</b></button>
    <button id="reset" onclick="reset()"><b id="reset">리셋</b></button>
    <button id="save" onclick="save()"><b id="save">저장</b></button>
</body>
</html>